<div class="w-full p-2 scrollable" style="height: 96%;">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 ">

  @for (producto of productos; track $index) {
    <div class="bg-white rounded-lg shadow p-4 relative  cursor-pointer">
      <span class="absolute top-2 right-2 bg-teal-500 text-white text-sm px-2 py-1 rounded-full"><i class="ki-filled ki-check"></i>      </span>
      <div class="text-center mb-4">
        <img [src]="producto.imagen" alt="producto.nombre" class="w-16 h-16 rounded-full mx-auto" />
      </div>
      <h3 class="text-lg font-semibold">{{producto.nombre}}</h3>
      <p class="text-teal-600 text-sm">{{producto.descripcion}}</p>
      <p class="text-xl font-bold">{{producto.precio}}</p>
    </div>
  }
  </div>
</div>
