<div>
  <div id="base" class="h-[81vh] w-full">
    <div class="flex flex-row h-full">
      <div class="w-2/3 h-full p-2">
        <app-factura-buscar-item></app-factura-buscar-item>
        <app-factura-items-lista class="h-full"></app-factura-items-lista>
      </div>
      <div class="w-1/3 h-full">
        <div class="h-full w-full flex-grow">
          <app-factura-detalle class="h-full w-full"></app-factura-detalle>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tabs border-t-2" data-tabs="true">
  <app-factura-tabs></app-factura-tabs>
</div>
