<form [formGroup]="formularioMedioPagoEfectivo" (ngSubmit)="submit()">
  <div class="flex items-center justify-center px-2">
    <div class="bg-white w-full">
      <button class="btn btn-link mt-2" (click)="regresarAmedioPagos()">
        <i class="ki-filled ki-arrow-left"></i>
        Seleccionar otro medio de pago
      </button>
      <div class="flex justify-center items-center mb-4">
        <svg
          width="120"
          height="120"
          viewBox="0 0 120 120"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- Círculo animado -->
          <circle
            class="circle"
            cx="60"
            cy="60"
            r="45"
            stroke="#4CAF50"
            stroke-width="5"
            fill="none"
          />
          <text
            x="50%"
            y="50%"
            font-size="50"
            fill="#4CAF50"
            font-family="Arial"
            font-weight="bold"
            text-anchor="middle"
            dominant-baseline="middle"
          >
            $
          </text>
        </svg>
      </div>

      <div class="mb-6">
        <p class="text-center text-4xl font-extrabold text-gray-800 mb-4">
          Total
          <span class="text-gray-800">
            $ {{ totalGeneralSignal() | number : "1.0" }}</span
          >
        </p>
        @if(valorRestante() > 0){
        <p class="text-center text-sm text-red-500 bg-red-50 py-2">
          Por cobrar $ {{ valorRestante() | number : "1.0-0" }}
        </p>
        }
      </div>
      <p class="text-center text-4xl font-extrabold text-gray-800 mb-4"></p>
      <div class="flex flex-col mb-2">
        <label class="form-label font-normal text-gray-900">
          Valor a pagar <span class="text-red-800 me-2"> *</span>
        </label>

        <div class="input">
          <i class="ki-filled ki-dollar"></i>
          <input type="number" formControlName="valor" class="bg-white" />
        </div>

        <app-form-error
          [control]="formularioMedioPagoEfectivo.get('valor')"
          [errors]="[
            {
              validacionTipo: 'required',
              mensaje: 'Este campo es obligatorio'
            }
          ]"
        ></app-form-error>
      </div>
      <div class="flex flex-col mb-2">
        <label class="form-label font-normal text-gray-900"> Asesor </label>

        <ng-select
          [items]="[
            {
              nombre_corto: 'asesor1',
              id: '1'
            }
          ]"
          bindLabel="nombre_corto"
          bindValue="id"
          placeholder="Selecciona un asesor"
          class="select2Custom"
          formControlName="asesor"
        >
        </ng-select>

        <app-form-error
          [control]="formularioMedioPagoEfectivo.get('asesor')"
          [errors]="[
            {
              validacionTipo: 'required',
              mensaje: 'Este campo es obligatorio'
            }
          ]"
        ></app-form-error>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-end mt-2">
    <div class="flex gap-4">
      <button class="btn btn-light" data-modal-dismiss="true">Cancel</button>
      <button class="btn btn-success" type="submit">Continuar</button>
    </div>
  </div>
</form>
