<form [formGroup]="formularioMedioPagoEfectivo" (ngSubmit)="submit()">
  <div class="flex items-center justify-center px-2">
    <div class="w-full">
      <button class="btn btn-link mt-2" (click)="regresarAmedioPagos()">
        <i class="ki-filled ki-arrow-left"></i>
        Seleccionar otro medio de pago
      </button>
      <div class="flex justify-center items-center mb-4">
        <svg
          width="120"
          height="120"
          viewBox="0 0 120 120"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- Círculo animado -->
          <circle
            class="circle"
            cx="60"
            cy="60"
            r="45"
            stroke="#4CAF50"
            stroke-width="5"
            fill="none"
          />
          <text
            x="50%"
            y="50%"
            font-size="50"
            fill="#4CAF50"
            font-family="Arial"
            font-weight="bold"
            text-anchor="middle"
            dominant-baseline="middle"
          >
            $
          </text>
        </svg>
      </div>

      <div class="mb-6">
        <p class="text-center text-4xl font-extrabold text-gray-800 mb-4">
          Total
          <span class="text-gray-800">
            $ {{ totalGeneralSignal() | number: "1.0" }}</span
          >
        </p>
        @if (valorRestante() > 0) {
          <p class="text-center text-sm text-red-500 bg-red-50 py-2">
            Por cobrar $ {{ valorRestante() | number: "1.0-0" }}
          </p>
        }
        @if (valorDevolder() > 0) {
          <p class="text-center text-sm text-blue-500 bg-blue-50 py-2">
            Por devolder $ {{ valorDevolder() | number: "1.0-0" }}
          </p>
        }
      </div>
      <p class="text-center text-4xl font-extrabold text-gray-800 mb-4"></p>
      <div class="flex flex-col mb-2">
        <label class="form-label font-normal text-gray-900">
          Valor <span class="text-red-800 ms-1 relative">*</span>
        </label>
        <div class="input">
          <i class="ki-filled ki-dollar"></i>
          <input
            type="text"
            formControlName="valor"
            class="bg-white"
            autocomplete="off"
            mask="separator.2"
            [thousandSeparator]="','"
            [decimalMarker]="'.'"
          />
        </div>
        <app-form-error
          [control]="formularioMedioPagoEfectivo.get('valor')"
          [errors]="[
            {
              validacionTipo: 'required',
              mensaje: 'Este campo es obligatorio',
            },
          ]"
        ></app-form-error>
      </div>
      <div class="flex flex-col mb-2">
        <label class="form-label font-normal text-gray-900"> Asesor </label>

        <ng-select
          [items]="arrAsesores()"
          bindLabel="nombre_corto"
          bindValue="id"
          placeholder="Selecciona un asesor"
          class="select2Custom"
          formControlName="asesor"
        >
        </ng-select>
      </div>

      <div class="flex flex-col mb-2">
        <label class="form-label font-normal text-gray-900">
          Cuenta banco
        </label>
        <ng-select
          [items]="arrCuentasBancarias()"
          bindLabel="nombre"
          bindValue="id"
          placeholder="Selecciona una cuenta banco"
          class="select2Custom"
          formControlName="cuenta_banco"
        >
        </ng-select>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-end mt-2">
    <div class="flex gap-4">
      <button (click)="limpiarPagos()" class="btn btn-light" data-modal-dismiss="true" type="button">
        Cancelar
      </button>
      <button
        [disabled]="
          textoBtn() !== 'Guardar' ||
          !formularioMedioPagoEfectivo.valid
        "
        type="submit"
        class="btn btn-success"
      >
        @if (textoBtn() !== "Guardar") {
          <svg
            aria-hidden="true"
            role="status"
            class="inline w-4 h-4 me-3 text-white animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
        }
        {{ textoBtn() }}
      </button>
    </div>
  </div>
</form>
