<section
  class="antialiased flex h-screen demo1 sidebar-fixed header-fixed bg-[#fefefe] dark:bg-coal-500 sidebar-collapse"
>
  <section class="flex grow">
    <ng-container>
      <app-sidebar></app-sidebar>
      <div class="wrapper flex grow flex-col">
        <div class="w-full">
          <app-header></app-header>
        </div>
        <main class="grow content p-0" id="content" role="content">
          <!-- begin: container -->
          <router-outlet></router-outlet>
        </main>
        <div class="w-full px-6">
          <app-footer></app-footer>
        </div>
      </div>
      <app-search-modal></app-search-modal>
    </ng-container>
  </section>
</section>
