<section
  class="antialiased flex h-full text-base text-gray-700 dark:bg-coal-500"
>
  <div
    class="flex items-center justify-center grow bg-center bg-no-repeat page-bg"
  >
    <div class="card max-w-[370px] w-full">
      <form
        class="card-body flex flex-col gap-5 p-10"
        id="sign_in_form"
        [formGroup]="loginForm"
        (ngSubmit)="submit()"
      >
        <div class="text-center mb-2.5">
          <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
            Sign in
          </h3>
          <div class="flex items-center justify-center font-medium">
            <span class="text-2sm text-gray-700 me-1.5">
              Need an account?
            </span>
            <a
              class="text-2sm link"
              href="html/demo5/authentication/classic/sign-up.html"
            >
              Sign up
            </a>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2.5">
          <a class="btn btn-light btn-sm justify-center" href="#">
            <img
              alt=""
              class="size-3.5 shrink-0"
              src="assets/media/brand-logos/google.svg"
            />
            Use Google
          </a>
          <a class="btn btn-light btn-sm justify-center" href="#">
            <img
              alt=""
              class="size-3.5 shrink-0 dark:hidden"
              src="assets/media/brand-logos/apple-black.svg"
            />
            <img
              alt=""
              class="size-3.5 shrink-0 light:hidden"
              src="assets/media/brand-logos/apple-white.svg"
            />
            Use Apple
          </a>
        </div>
        <div class="flex items-center gap-2">
          <span class="border-t border-gray-200 w-full"> </span>
          <span class="text-2xs text-gray-500 font-medium uppercase"> Or </span>
          <span class="border-t border-gray-200 w-full"> </span>
        </div>
        <div class="flex flex-col gap-1">
          <label class="form-label font-normal text-gray-900"> Email </label>
          <input
            class="input"
            placeholder="email@email.com"
            type="text"
            formControlName="email"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.TIPOCORREO',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO',
              cantidadCaracteres: '3',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO',
              cantidadCaracteres: '100',
              control: loginForm.controls['email']
            }"
          ></ng-container>
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex items-center justify-between gap-1">
            <label class="form-label font-normal text-gray-900">
              Password
            </label>
            <a
              class="text-2sm link shrink-0"
              href="html/demo5/authentication/classic/reset-password/enter-email.html"
            >
              Forgot Password?
            </a>
          </div>
          <div class="input" data-toggle-password="true">
            <input
              name="user_password"
              placeholder="Enter Password"
              type="password"
              formControlName="password"
            />
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.REQUERIDO',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMINIMO',
              cantidadCaracteres: '3',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.CAMPOMAXIMO',
              cantidadCaracteres: '100',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'FORMULARIOS.VALIDACIONES.COMUNES.NOVALIDO',
              control: loginForm.controls['password']
            }"
          ></ng-container>
            <button
              class="btn btn-icon"
              data-toggle-password-trigger="true"
              type="button"
            >
              <i
                class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"
              >
              </i>
              <i
                class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"
              >
              </i>
            </button>
          </div>
        </div>
        <label class="checkbox-group">
          <input
            class="checkbox checkbox-sm"
            name="check"
            type="checkbox"
            value="1"
          />
          <span class="checkbox-label"> Remember me </span>
        </label>
        <button class="btn btn-primary flex justify-center grow">
          Sign In
        </button>
      </form>
    </div>
  </div>
</section>
<ng-template
#formError
let-control="control"
let-message="message"
let-validation="validation"
let-cantidadCaracteres="cantidadCaracteres"
>
<ng-container
  *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
>
  <div class="fv-plugins-message-container">
    <div class="fv-help-block">
      <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
    </div>
  </div>
</ng-container>
</ng-template>
