<div class="input-group w-full">
  <button
    class="btn btn-input cursor-pointer"
    type="button"
    [ngClass]="{ 'btn-primary': tipoBusqueda() === 'id' }"
    (click)="seleccionarTipoBusqueda('id')"
  >
    <i
      class="ki-filled ki-filter-search"
      [ngClass]="{ 'text-white': tipoBusqueda() === 'id' }"
    ></i>
  </button>
  <button
    class="btn btn-input cursor-pointer"
    type="button"
    [ngClass]="{ 'btn-primary': tipoBusqueda() === 'codigoBarras' }"
    (click)="seleccionarTipoBusqueda('codigoBarras')"
  >
    <i
      class="ki-filled ki-scan-barcode"
      [ngClass]="{ 'text-white': tipoBusqueda() === 'codigoBarras' }"
    ></i>
  </button>
  <div class="input">
    <input
      #campoBusqueda
      placeholder="Right icon"
      type="text"
      (input)="buscarCampo()"
      [(ngModel)]="inputBusqueda"
      [placeholder]="
        tipoBusqueda() === 'id'
          ? 'Buscar por código'
          : 'Buscar por código barras'
      "
    />
    @if(campoBusqueda.value !== ''){
    <button class="btn btn-icon" (click)="limpiarBusqueda()">
      <i class="ki-filled ki-cross text-red-500"> </i>
    </button>
    }
  </div>

  <span class="btn btn-input cursor-pointer">
    <i class="ki-filled ki-add-files"></i>
  </span>
</div>
