<div
  class="dropdown cursor-pointer"
  data-dropdown="true"
  data-dropdown-trigger="click"
  #dropdownTab
>
  <i class="ki-filled ki-dots-vertical dropdown-toggle dark-mode:text-white"></i>
  <div class="dropdown-content w-full max-w-56 py-2">
    <div class="menu menu-default flex flex-col w-full">
      @if(nombre() !== 'Factura principal'){
      <div class="menu-item">
        <section class="menu-link" (click)="cambiarNombreTab()">
          <span class="menu-icon">
            <i class="ki-filled ki-message-edit"></i>
          </span>
          <span class="menu-title"> Cambiar nombre</span>
        </section>
      </div>
      }

      @if (visualizarBtnImprimir) {
        <div class="menu-item">
          <section class="menu-link">
            <span class="menu-icon">
              <i class="ki-filled ki-printer"></i>
            </span>
            <span class="menu-title"> Imprimir </span>
          </section>
        </div>
      }

      @if(nombre() !== 'Factura principal'){
      <div class="border-b border-b-gray-200"></div>
      <div class="menu-item">
        <section class="menu-link" (click)="removerTab()">
          <span class="menu-icon">
            <i class="ki-filled ki-trash"></i>
          </span>
          <span class="menu-title"> Eliminar </span>
        </section>
      </div>
      }
    </div>
  </div>
</div>

<div
  class="modal"
  data-modal="true"
  id="modalCambiarNombreTab"
  #modalCambiarNombreTab
>
  <div class="modal-content max-w-[600px] top-[20%]">
    <div class="modal-header">
      <h3 class="modal-title">Cambiar nombre</h3>
      <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
        <i class="ki-outline ki-cross"> </i>
      </button>
    </div>
    <div class="modal-body">
      <input
        class="input"
        placeholder="Ingrese el nombre"
        type="text"
        value=""
        autofocus
        [(ngModel)]="inputCambiarNombre"
      />
    </div>
    <div class="modal-footer justify-end">
      <div class="flex gap-4">
        <button
          class="btn btn-primary"
          data-modal-dismiss="true"
          (click)="actualizarNombreTab()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  data-modal="true"
  id="modalConfirmacionEliminar"
  #modalConfirmacionEliminar
>
  <div class="modal-content max-w-[600px] top-[20%]">
    <div class="modal-header">
      <h3 class="modal-title">Eliminar factura</h3>
      <button class="btn btn-xs btn-icon text-secondary btn-light" data-modal-dismiss="true">
        <i class="ki-outline ki-cross" style="color: #9ca3af !important;"> </i>
      </button>
    </div>
    <div class="modal-body">
      <div
        class="p-4 mb-4 flex flex-col gap-2 text-sm rounded-lg"
        role="alert"
      >
      <div>
        <span class="font-bold text-lg text-black"
          >¿Seguro que quieres eliminar la factura?</span
        >
      </div>
        <span class="font-medium" style="color: #9ca3af !important;">Esta acción no tiene revertimiento</span>
      </div>
    </div>
    <div class="modal-footer justify-end">
      <div class="flex gap-4">
        <button
          class="btn btn-danger"
          data-modal-dismiss="true"
          (click)="retirarFactura()"
        >
          Si, eliminar
        </button>
      </div>
    </div>
  </div>
</div>
