<div
  class="bg-white rounded-lg shadow relative cursor-pointer"
  [ngClass]="{ 'shadow-teal-500/50': cantidadSignal() >= 1 }"
  (click)="seleccionarProducto(item)"
>
  @if(cantidadSignal() >= 1 ){
  <span
    class="absolute top-2 right-2 bg-teal-500 text-white text-sm w-6 h-6 flex items-center justify-center rounded-full"
  >
    {{ cantidadSignal() > 99 ? "99+" : cantidadSignal() }}
  </span>
  }

  <span
    class="absolute top-2 left-2 bg-teal-500 text-white text-sm w-7 h-7 flex items-center justify-center rounded-full"
    (click)="seleccionarFavorito(item); $event.stopPropagation()"
  >
    @if(item.favorito){
    <i class="ki-duotone ki-star text-white text-lg"></i>
    } @else {
    <i class="ki-outline ki-star text-lg"></i>
    }
  </span>

  <img
    src="https://placehold.co/30x30"
    width="30"
    height="30"
    class="rounded-t-lg w-full object-cover"
  />

  <div class="text-center">
    <h5 class="text-lg font-light truncate w-full">{{ item.nombre }}</h5>
    <h6 class="text-sm font-light truncate w-full">{{ item.codigo }}</h6>
    <h6 class="text-sm font-light truncate w-full">{{ item.disponible || "Agotado" }}</h6>
    <p class="text-base font-bold">$ {{ item.precio | number : "1.0-0" }}</p>
  </div>
</div>
