<Button
  class="w-full bg-green-500 hover:bg-green-600 text-white h-12 text-lg font-medium rounded-md shadow-md transition-all duration-300 ease-in-out dark:bg-green-700 dark:hover:bg-green-800 dark:text-gray-200"
  data-modal-toggle="#modal_pagar_items"
  (click)="mostrarTemplate(null)"
  [disabled]="totalProductosSignal() === 0 || !documentoTipo"
  [ngClass]="{ 'cursor-not-allowed opacity-50': totalProductosSignal() === 0 }"
>
  Pagar
</Button>

<div
  class="modal"
  data-modal="true"
  id="modal_pagar_items"
  data-modal-backdrop-static="true" 
>
  <div class="modal-content modal-center-y max-w-[600px]">
    <div class="modal-header">
      <h3 class="modal-title">
        @if (templateActual === "pagoExitoso") {
          Factura pagada
        } @else {
          Pagar
        }
      </h3>
    </div>
    <div class="modal-body">
      @switch (templateActual) {
        @case ("efectivo") {
          @defer {
            <app-factura-medio-pago-efectivo
              (emitirMedio)="mostrarTemplate($event)"
              (emitirPagoExito)="pagoExito()"
            ></app-factura-medio-pago-efectivo>
          }
        }
        @case ("pagoExitoso") {
          <app-factura-medios-exitoso></app-factura-medios-exitoso>
        }
        @default {
          <app-factura-seleccionar-medio-pago
            (emitirMedio)="mostrarTemplate($event)"
          ></app-factura-seleccionar-medio-pago>
        }
      }
    </div>
    @if (templateActual === null) {
      <div class="modal-footer justify-end mt-2">
        <div class="flex gap-4">
          <button class="btn btn-light" data-modal-dismiss="true">
            Cancelar
          </button>
        </div>
      </div>
    }
  </div>
</div>
