<div class="w-full h-full p-2">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Item</h3>
    </div>
    <div class="card-body">
      <div class="flex justify-end">
        <button class="btn btn-primary" routerLink="/administracion/item/nuevo">
          Nuevo
        </button>
        <button class="btn btn-danger" (click)="eliminar()">Eliminar</button>
      </div>
    </div>
    <div class="card-table scrollable-x-auto">


      <div class="scrollable-auto">
      <app-tabla
        [columnas]="columnas"
        [datos]="arrItemsSignal()"
        [rutas]="{
          editar: '/administracion/item/editar',
          detalle: '/administracion/item/detalle',
        }"
        (seleccionCambiada)="onSeleccionItems($event)"
      ></app-tabla>
      </div>
    </div>
  </div>
</div>
