<div class="h-full w-full flex flex-col">
  <div class="card h-full w-full flex flex-col shadow-none rounded-none">
    <div class="card-header">
      <h3 class="card-title">{{nombre()}}</h3>
    </div>
    <div class="card-body flex-grow py-0 my-4 pr-4 mr-2">
      <div class="mb-4">
        Tailwind CSS, a utility-first CSS framework, has gained immense popularity...
      </div>
      <div>
        The Tailwind CSS card component offers developers a seamless way...
      </div>
    </div>
    <div class="card-footer justify-center">
      <a class="btn btn-link" href="#">Example link</a>
    </div>
  </div>
</div>
