<div class="h-full w-full flex flex-col">
  <div class="card h-full w-full flex flex-col shadow-none rounded-none">
    <div class="card-header p-2">
      <h3 class="card-title">{{ nombre() }}</h3>
      <app-factura-opciones-dropdown></app-factura-opciones-dropdown>
    </div>
    <div class="card-body scrollable flex-grow p-2">
      @for (item of items(); track $index; let last = $last) {
      <div class="flex justify-between items-center p-2 hover:bg-blue-50">
        <div class="" style="flex: 1.5">
          <p>{{ item.nombre }}</p>
          <p>{{ item.precio | number : "1.0-0" }}</p>
        </div>
        <div class="flex-1">
          <app-contador-cantidad
            [cantidad]="item.cantidad"
            (emitirCantidad)="actualizarCantidad($event, item.id)"
          ></app-contador-cantidad>
        </div>
        <div
          class="flex-1 text-right"
          #div
          (mouseenter)="alEntrarMouse(item.id, div)"
          (mouseleave)="alSalirMouse()"
        >
          @if (mostrarIcono === item.id) {
          <i
            class="ki-filled ki-pencil text-xl cursor-pointer text-blue-500 me-2"
            [attr.data-tooltip]="'#tooltip_editar_hover' + item.id"
            [attr.data-tooltip-trigger]="'hover'"
            [attr.data-drawer-toggle]="'#drawer_6'"
          ></i>
          <i
            class="ki-filled ki-trash text-xl cursor-pointer text-red-500"
            (click)="retirarItem(item.id)"
            [attr.data-tooltip]="'#tooltip_retirar_hover' + item.id"
            [attr.data-tooltip-trigger]="'hover'"
          ></i>
          <div class="tooltip" [id]="'tooltip_editar_hover' + item.id">
            Editar item para la factura
          </div>
          <div class="tooltip" [id]="'tooltip_retirar_hover' + item.id">
            Retirar item
          </div>
          } @else {
          <p>$ {{ item.subtotal | number : "1.0-0" }}</p>
          }
        </div>
      </div>
      @if(!last){
      <hr class="border-t-2" />
      } }
    </div>
    <div class="card-footer p-2">
      <div class="flex flex-col w-full">
        <div class="flex justify-between">
          <p>Productos:</p>
          <p>{{ totalProductosSignal() }}</p>
        </div>
        <div class="flex justify-between">
          <p>Cantidad:</p>
          <p>{{ totalCantidadesSignal() | number : "1.0-0" }}</p>
        </div>
        <div class="flex justify-between">
          <p>Subtotal:</p>
          <p>{{ totalSubtotalSignal() | number : "1.0-0" }}</p>
        </div>
        <hr />
        <button class="btn btn-outline btn-success w-full">Pagar</button>
      </div>
    </div>
  </div>
</div>
<div
  class="drawer drawer-end border-r drawer-open:shadow-lg flex flex-col max-w-[90%] w-[35%]"
  data-drawer="true"
  data-drawer-backdrop="false"
  id="drawer_6"
>
  <div class="flex items-center justify-between p-5 border-b">
    <h3 class="text-base font-semibold text-gray-900">Editar registro</h3>
    <button class="btn btn-xs btn-icon btn-light" data-drawer-dismiss="true">
      <i class="ki-outline ki-cross"> </i>
    </button>
  </div>
  <div class="p-5">Drawer content.</div>
</div>
