<section class="flex items-center ">
  <div class=" p-8  w-full ">
      <div class="flex justify-center items-center mb-4">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <!-- Círculo animado -->
          <circle class="circle" cx="60" cy="60" r="45" stroke="#4CAF50" stroke-width="5" fill="none" />

          <!-- Marca de verificación animada -->
          <path class="checkmark" d="M40 60 L52 72 L80 45" stroke="#4CAF50" stroke-width="5" fill="none" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

      </div>
      <h2 class="text-2xl font-bold mb-2">¡Muy bien! 🎉</h2>
      <p class="text-gray-600 mb-6">Tu venta se guardó con éxito</p>

      <div class="bg-gray-100 p-4 rounded-lg mb-6">
          <p class="text-lg font-bold">Total <span class="text-gray-800">$15.000</span></p>
          <p class="text-sm text-red-500">Cambio $0</p>
      </div>

  </div>
</section>
<div class="modal-footer justify-end mt-2">
  <div class="flex gap-4">
    <button class="btn btn-light" data-modal-dismiss="true">
      <i class="ki-filled ki-printer"></i>
      Imprimir
    </button>
    <button class="btn btn-success" data-modal-dismiss="true">
      <i class="ki-filled ki-document"></i>
      Nueva
    </button>
  </div>
</div>
