<section class="flex items-center ">
  <div class=" p-8  w-full ">
      <div class="flex justify-center items-center mb-4">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" cx="60" cy="60" r="45" stroke="#4CAF50" stroke-width="5" fill="none" />
          <path class="checkmark" d="M40 60 L52 72 L80 45" stroke="#4CAF50" stroke-width="5" fill="none" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

      </div>
      <div class="text-center">
        <h2 class="text-2xl font-bold mb-2 dark-mode:text-gray-800">¡Muy bien! 🎉</h2>
        <p class="text-gray-600 mb-6 dark-mode:text-gray-800">Tu venta se guardó con éxito</p>
      </div>
  </div>
</section>
<div class="modal-footer justify-end mt-2">
  <div class="flex gap-4">
    <button class="btn btn-light" data-modal-dismiss="true" (click)="imprimirFactura()">
      <i class="ki-filled ki-printer"></i>
      Imprimir
    </button>
    <button class="btn btn-success" data-modal-dismiss="true" (click)="gestionNuevaFactura()" type="button">
      <i class="ki-filled ki-document"></i>
      Nueva
    </button>
  </div>
</div>
