<div class="w-full h-full">
  @if (visualizarLoader()) {
    <app-loader></app-loader>
  } @else {
    @if (arrFacturasSignal().length === 0) {
      <div class="text-center p-4">
        <i class="ki-filled ki-purchase text-gray-500 text-3xl"></i>
        <p class="text-gray-500">No hay facturas disponibles.</p>
      </div>
    } @else {
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Historial</h3>
        </div>
        <div class="card-table scrollable-x-auto">
          <div class="scrollable-auto">
            <table
              class="table table-border align-middle text-gray-700 font-medium text-sm"
            >
              <thead>
                <tr class="text-center">
                  <th>Id</th>
                  <th>Tipo</th>
                  <th>Número</th>
                  <th>Fecha</th>
                  <th>Contacto</th>
                  <th>Subtotal</th>
                  <th>Impuesto</th>
                  <th>Total</th>
                  <th>Apr</th>
                  <th>Anu</th>
                  <th>Ele</th>
                  <th>Con</th>
                  <th></th>
                </tr>
              </thead>
              @for (factura of arrFacturasSignal(); track $index) {
                <tr class="py-2 border-2">
                  <td>{{ factura.id }}</td>
                  <td>{{ factura.documento_tipo__nombre }}</td>
                  <td>{{ factura.numero }}</td>
                  <td>{{ factura.fecha }}</td>
                  <td>{{ factura.contacto__nombre_corto }}</td>
                  <td class="text-end">
                    {{ factura.subtotal | number: "1.0-0" }}
                  </td>
                  <td class="text-end">
                    {{ factura.impuesto | number: "1.0-0" }}
                  </td>
                  <td class="text-end">
                    {{ factura.total | number: "1.0-0" }}
                  </td>
                  <td class="text-center">
                    {{ factura.estado_aprobado | siNo }}
                  </td>
                  <td class="text-center">
                    {{ factura.estado_anulado | siNo }}
                  </td>
                  <td class="text-center">
                    {{ factura.estado_electronico | siNo }}
                  </td>
                  <td class="text-center">
                    {{ factura.estado_contabilizado | siNo }}
                  </td>
                  <td class="text-center">
                    <i
                      class="ki-filled ki-printer cursor-pointer"
                      (click)="
                        descargarPDF(factura.id, factura.documento_tipo_id)
                      "
                    ></i>
                  </td>
                </tr>
              }
            </table>
          </div>
        </div>
      </div>
    }
  }
</div>
