<ng-container class="w-full">
  <!-- begin: container -->
  <div
    class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5"
  >
    <div class="flex order-2 md:order-1 gap-2 font-normal text-2sm">
      <span class="text-gray-500"> {{ anioActual }} © </span>
      <a class="text-gray-600 hover:text-primary" href="https://keenthemes.com">
        Semantica Digital SAS
      </a>
    </div>
    <nav
      class="flex order-1 md:order-2 gap-4 font-normal text-2sm text-gray-600"
    >
      <a class="hover:text-primary" [href]="urlDocumentacion" target="_blank">
        Docs
      </a>
      <a class="hover:text-primary"> Compra </a>
      <a class="hover:text-primary"> Faq </a>
      <a class="hover:text-primary" href="https://devs.keenthemes.com">
        Soporte
      </a>
      <a class="hover:text-primary"> Licencia </a>
    </nav>
  </div>
  <!-- end: container -->
</ng-container>
