<div class="flex items-center justify-center">
  <div class="">
    <div class="w-full">
      <h2 class="text-center text-2xl font-bold mb-6 dark-mode:text-gray-800">
        TOTAL
      </h2>
      <p class="text-center text-4xl font-extrabold text-gray-800 mb-8">
        $ {{ totalGeneralSignal() | number: "1.0-0" }}
      </p>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="group flex flex-col items-center bg-gray-200 p-4 rounded-lg cursor-pointer text-center hover:bg-teal-500 hover:text-white dark:text-gray-800 dark:hover:text-white"
          (click)="selecionarMedio('efectivo')"
        >
          <i
            class="ki-outline ki-wallet text-2xl text-gray-800 dark:text-gray-800 group-hover:text-white"
          ></i>

          Efectivo
        </div>
        <button
          class="flex flex-col items-center bg-gray-100 p-4 rounded-lg text-gray-400 cursor-not-allowed text-center"
          (click)="selecionarMedio('tarjetaCredito')"
          [disabled]="true"
        >
          <i class="ki-outline ki-credit-cart text-2xl text-gray-400"></i>

          Tarjeta de crédito
        </button>
        <button
          class="flex flex-col items-center bg-gray-100 p-4 rounded-lg text-gray-400 cursor-not-allowed text-center"
          (click)="selecionarMedio('tranferencia')"
          [disabled]="true"
        >
          <i class="ki-outline ki-credit-cart text-2xl text-gray-400"></i>
          Transferencia
        </button>
        <button
          class="flex flex-col items-center bg-gray-100 p-4 rounded-lg text-gray-400 cursor-not-allowed text-center"
          (click)="selecionarMedio('tarjetaDebito')"
          [disabled]="true"
        >
          <i class="ki-outline ki-credit-cart text-2xl text-gray-400"></i>

          Tarjeta débito
        </button>
        <button
          class="flex flex-col items-center bg-gray-100 p-4 rounded-lg text-gray-400 cursor-not-allowed text-center"
          (click)="selecionarMedio('combinado')"
          [disabled]="true"
        >
          <i class="ki-outline ki-credit-cart text-2xl text-gray-400"></i>

          Combinado
        </button>
      </div>
    </div>
  </div>
</div>
